@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Papeleria Temas!</title>
</head>
<body>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>Por favor <a href="@Url.Action("Login", "Account")">inicia sesión</a> para acceder a tu cuenta.</p>
    }
    else
    {
        var userType = User.Claims.FirstOrDefault(c => c.Type == "UserType")?.Value;

        <h1 class="welcome-message" style="text-align: center;">Bienvenido, @userType @User.Identity.Name!.</h1>

    }
    <p class="small-message" style="text-align: center;">Bienvenido a Papeleria Mini!</p>

    <img src="/img/Papeleria.jpg" alt="Logo de Papeleria Temas" style="display: block; margin: 0 auto; max-width: 500%;">

</body>
</html>


